body {
    height: 100%;
    width:100%;
}

.welcome{
    background-image: url("/style/pictures/scott-webb-oRWRlTgBrPo-unsplash.jpg");
    min-width: 100vw;
    max-width: 100vh;
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section{
    height: 1000px;
    background-color: mintcream;
    font-size:36px;
}

 .logo {
   width: 100%;
}