body {
    height: 100%;
    width:100%;
    color: #2D4108;
    background-color: mintcream;
    font-family: 'Montserrat', sans-serif;;
}

.welcome{
    background-image: url("/style/pictures/scott-webb-oRWRlTgBrPo-unsplash.jpg");
    min-width: 100vw;
    max-width: 100vh;
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section{
    height: 1000px;
    font-size:30px;
}

 .logo {
   width: 100%;
}

#pink {
    height: 10%;
    margin-top: 20%; 
    
}