body {
    height: 100%;
    width:100%;
    color: #2D4108;
    font-family: 'Montserrat', sans-serif;
    background-color: mintcream;
}

.welcome{
    background-image: url("/style/pictures/scott-webb-oRWRlTgBrPo-unsplash.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 115vh;
}

.logo {
  width: 100%;
  animation: fadeIn ease 3s;
   -webkit-animation: fadeIn ease 3s;
   -moz-animation: fadeIn ease 3s;
   -o-animation: fadeIn ease 3s;
   -ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }
 
 @-moz-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }
 
 @-webkit-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }
 
 @-o-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }
 
 @-ms-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
 }
}

.intro{
    font-size:30px;
    min-width: 90vw;
    min-height: 115vh;
}


#pink {
    width: 100%;
    margin-top: 20%; 
}

@media only screen and (max-width: 768px) {
  #pink {
    width: 70%;
    margin-top: 20%; 
}
}
#intro {
    margin-top: 20%;
}

#philosophy {
  font-size:30px;
  margin-top: 15%;
  padding-left: 10%;
  color: mintcream;
}

#palm{
  width: 115%;
  margin-top: 20%;
}

@media only screen and (max-width: 768px) {
  #palm{
    width: 80%;
   
  }
}

.philosophy {
  background-color: rgb(4, 9, 37);
}

.offer{
  margin-top: 15%;
}



h1 {
  font-weight: bold;
}

h2 {
  font-weight: bold;
  margin-top: 5%;
}

#herb {
  border-radius: 35%;
  width: 110%;
  margin-top: 10%;
}

#hand {
  width: 120%;
  margin-left: -40%;
}

#test {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-top: 300%;
}


.founders {
  min-height: 100vh;
}

.behind-leafy {
  margin-bottom: 12%;
}

.behind-leafy h1 {
  font-size: 4em;
}

#founder1 {
  margin-left: 25%;
  border-radius: 35%;
  width: 47%;
}

#founder2 {
  margin-left: 25%;
  border-radius: 35%;
  width: 45%;
}

.contact {
  margin-top: 20%;
  background-color: rgb(4, 9, 37);
  color: mintcream;
}

